$font-worksans: 'Work Sans', sans-serif;
$font-light: 200;
$font-regular: 400;
$font-bold: 700;

* {
	box-sizing: border-box;
	border: 0;
	font-family: $font-worksans;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	background: black;
	color: white;
	width: 100%;
	height: 100%;
}

h1 {
	font-weight: $font-regular;
	margin: 0 0 40px 0;
	background: #ffd89b; /* fallback for old browsers */
	background: -webkit-linear-gradient(#ffd89b , #19547b); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(#ffd89b , #19547b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
        
}

.app {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.main {
	width: 100%;
	text-align: center;
}

.wrapper {
	display: flex;
	align-items: center;
	width: 100%;
}

.player {
	 width: 100%;
}

.button {
	width: 100px;
}

.prev, .next {
	cursor: pointer;

	.arrow {	
		fill: #19547b;
		transition: fill 400ms;
		transition-timing-function: ease-in-out;

		&:hover {
			fill: #ffd89b;
		}
	}
}