/*
* Dashboard.tsx component
*/
$grey: #36393D;
$blue: #1393c0;

.dashboard {
	h1 {
		display: inline-block;
		font-size: 20px;
		color: $grey;
		border-bottom: 2px solid $blue;
		margin: 0;
	}

	ul {
		display: inline-block;
		width: 100%;
		margin: 20px 0 0 0;
		padding: 0;
		list-style: none;

		li {
			width: 100%;


			a {
				color: $grey;
				text-decoration: none;
			}
		}
	}
}